// Variables

$white: #fff !default;
$bg-light: #e5e5e5 !default;
$bg-light-blue: #E7FAFF !default;
$box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.33) !default;
$box-shadow-xl: 0px -1px 13px rgba(0, 0, 0, 0.1) !default;
$light-gray: #f7f7f7 !default;
$border-radius: 30px !default; // pic
$border-radius-input: 53px !default; //input buttons
$border-radius-card: 43px !default; //card
$border-radius-btn-sm: 10px !default; //buttons
$border-radius-sm: 18px !default; //tags card
$border-radius-lg: 50 !default; //modals
$border-radius-xs: 4px !default;

//scss-font-family-variables
$font-family-base: "SF Pro Display";
$font-family-code: "SF Pro Display";

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-size-sm:                $font-size-base * .875 !default;
// $font-size-lg:                $font-size-base * 1.25 !default;
//scss-text-variables
$text-dark: #000000 !default;
$text-normal: #808080 !default;
$heading-text: #e8056c !default;

$opacity-1: 0.6 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$text-uppercase: uppercase !default;

$font-xs: 12px;
$font-sm: 14px; //<p>
$font-md: 16px; //<p>
$font-lg: 18px;
$font-xl: 20px;
$font-22: 22px;
$font-26: 26px;
$font-xxl: 32px !default;
$font-xxxl: 36px !default;

// scss-docs-start headings-variables
$headings-margin-bottom: 0 !default;
$headings-font-family: "SF Pro Display" !default;
$headings-font-style: normal !default;
$headings-font-weight: bold !default;
$headings-line-height: 28px !default;
$headings-color: $heading-text !default;

// scss-docs-start input-btn-variables
$btn-bg-color: #fedd92;

$btn-border: 1px solid #fedd92;
$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 0.75rem !default;
$btn-padding: 10px 12px !default;
$btn-border-radius: 25px !default;
// $border-color: rgba(31, 51, 97, 0.15) !default;
// $border: 1px solid rgba(31, 51, 97, 0.15) !default;
// scss-docs-start Input field variable
$input-border-radius: 10px !default;
$border-color: 1px solid rgba(138, 123, 142, 0.14);
$border: 1px solid rgba(138, 123, 142, 0.14);

$card-bg: $white !default;
